.button {
    font-size: 16px;
    padding: 11px 10px 9px 10px;
    border-bottom: 2px solid var(--blue);
    transition: 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--blue);
        color: var(--dblack);
    }
}

@media screen and (min-width: 1921px) {
    .button {
        font-size: 22px;
        padding: 14px 13px 12px 13px;
        border-bottom: 3px solid var(--blue);
    }
}