.image-container {
    gap: 25px;

    .image-picture {
        width: 400px;
        height: auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3333333333);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3333333333);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3333333333);
        margin: 0 auto;
    }

    .image-links {
        gap: 20px;

        & > * {
            color: var(--white);
        }
    
        .image-button {
            font-size: 20px;
        }
    
        .image-icon {
            font-size: 45px;
            transition: 0.15s ease-in-out;
        
            &:hover {
                color: var(--blue);
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #about {
        .image-container {
            gap: 15px;
            &.container {
                float: none;
                width: 100%;
                margin: 0;
            }
        }
        .image-picture {
            width: 300px;
        }
        .image-links {
            gap: 15px;
            .image-button {
                font-size: 18px;
            }
            .image-icon {
                font-size: 36px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #about {
        .image-picture {
            width: 250px;
        }
        .image-links {
            gap: 15px;
            .image-button {
                font-size: 16px;
            }
            .image-icon {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #about {
        .image-container {
            gap: 8px;
        }
        .image-picture {
            width: 200px;
        }
        .image-links {
            gap: 12px;
            .image-button {
                font-size: 14px;
            }
            .image-icon {
                font-size: 28px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #about {
        .image-container {
            gap: 4px;
        }
        .image-picture {
            width: 150px;
        }
        .image-links {
            gap: 8px;
            .image-button {
                font-size: 12px;
            }
            .image-icon {
                font-size: 20px;
            }
        }
    }
}


