.intro-section {
    background: linear-gradient(129deg, var(--dgray), var(--dblack));
    font-family: "Maven Pro", sans-serif;
}

.intro-title {
    font-size: 80px;
    font-weight: 500;
}

.intro-descr {
    font-size: 40px;
    font-weight: 300;
    color: var(--blue);
}