.navbar {
    height: 7.5vh;
    background-color: var(--lgray);
    justify-content: flex-end;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4666666667);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4666666667);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4666666667);
    z-index: 999;

}

.navbar-sticky {
    position: sticky;
    top: 0; 
    left: 0;
}

.navbar-buttons {
    gap: 50px;
    margin-right: 10%;
}

.navbar-button {
    font-size: 20px;
    font-family: 'Maven Pro';
    font-weight: 450;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
    color: var(--white);

    &:hover {
        color: var(--lblue);
    }

    &.navbar-button-active {
        color: var(--blue);
        font-weight: 500;
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        justify-content: center;
    }
    .navbar-buttons {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 7vh;
    }
    .navbar-buttons {
        gap: 40px;
    }
    .navbar-button {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        height: 6vh;
    }
    .navbar-buttons {
        gap: 20px;
    }
    .navbar-button {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .navbar {
        height: 5vh;
    }
    .navbar-buttons {
        gap: 15px;
    }
    .navbar-button {
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .navbar-buttons {
        gap: 15px;
    }
    .navbar-button {
        font-size: 12px;
    }
}