.expr-section {
    background: linear-gradient(142deg, var(--dblue), var(--blue));
    gap: 60px;
    position: relative;
}

.expr-title {
    font-size: 60px;
    font-weight: 500;
    color: var(--white);
    font-family: "Maven Pro", sans-serif;
}

.expr-button {
    color: var(--white);
    border-bottom: 2px solid var(--white);
    &:hover {
        background: var(--white);
        color: var(--dblue);
    }
}

@media screen and (min-width: 1921px) {
    .expr-section {
        gap: 80px;
    }
    .expr-title {
        font-size: 80px;
    }
}

@media screen and (max-width: 900px) {
    .expr-section {
        height: max-content;
        padding: 70px 0 50px 0;
    }
}

@media screen and (max-width: 600px) {
    .expr-title {
        font-size: 54px;
    }
}


@media screen and (max-width: 350px) {
    .expr-title {
        font-size: 44px;
    }
    .expr-section {
        gap: 30px;
    }
}