.expr-table {
    height: 50%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 25px;
}

.expr-secret {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 8px;

    a {
        color: var(--dblue);
    }
}

@media screen and (min-width: 1921px) {
    .expr-table {
        width: 55%;
    }
}

@media screen and (max-width: 1100px) {
    .expr-table {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .expr-table {
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .expr-table {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .expr-table {
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .expr-table {
        width: 60%;
    }
}

@media screen and (max-width: 350px) {
    .expr-table {
        width: 80%;
    }
}