.footer {
    height: 7.5vh;
    gap: 5px;
    border-top: 3px solid var(--blue);
    background-color: var(--black);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4666666667);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4666666667);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4666666667);
    color: var(--white);
}

.footer-links {
    gap: 10px;

    & .footer-icon {
        font-size: 22px;
        transition: 0.15s ease-in-out;
        color: var(--white);
    
        &:hover {
            color: var(--lblue);
        }
    }
}

.footer-credits {
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .footer {
        height: 7vh;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        height: 6vh;
    }
}

@media screen and (max-width: 350px) {
    .footer {
        height: 5vh;
    }
    .footer-credits {
        font-size: 12px;
    }
    .footer-links .footer-icon {
        font-size: 20px;
    }
}