.info-container {
    gap: 25px;

    .info-title {
        font-size: 40px;
        color: var(--blue);
    }
    
    .info-text {
        font-family: "Maven Pro", sans-serif;
        text-align: left;
    }

}

